<div class="card">
  <div class="row">
    <div class="col-2 mt-2 ">
      <p class="All">All</p>
    </div>
    <div class="col-10 mt-2">
      <h6 class="Status">Connectivity Status</h6>
      <p class="card-text Status">Summary of All Data</p>
    </div>
  </div>
  <div class="card-body calc">
    <p class="dates">MTWTFSS</p>
  </div>
</div>


<div class="card bg-color mb-3 mt-4" >
  <div class="card-header head-text">Records Selected (Total)</div>
  <div class="card-body">
    <p class="card-text card-zero">0</p>
  </div>
</div>


<div class="card bg-color mb-3 mt-4" >
  <div class="card-header head-text">Data Quality</div>
  <div class="card-body">
    <p class="card-text card-zero">0</p>
  </div>
</div>


<div class="card bg-color mb-3 mt-4" >
  <div class="card-header head-text">Errors</div>
  <div class="card-body">
    <p class="card-text card-zero">0</p>
  </div>
</div>

