<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <!-- table -->
  <div class="row mx-5">
    <div class="col-md-10 p-0">
      <div class="main-grid">
        <div class="row pt-2 m-0">
          <div class="col-md-10 p-0">
            <div class="grid-table">
              <div class="grid-bg">
                <table class="table table-striped grid">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                          <label class="form-check-label" for="flexCheckIndeterminate"></label>
                        </div>
                      </th>
                      <th>#</th>
                      <th>PROJECT NAME</th>
                      <th>SOURCES</th>
                      <th>TOTAL RECORDS</th>
                      <th>DATA FLOW</th>
                      <th>LAST UPDATE</th>
                      <th>DATA QUALITY</th>
                      <th>STATUS</th>
                      <th>...</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                          <label class="form-check-label" for="flexCheckIndeterminate"></label>
                        </div>
                      </td>
                      <td>1</td>
                      <td>Spotlight</td>
                      <td>Source</td>
                      <td>21314</td>
                      <td>Data</td>
                      <td>20/2/2022</td>
                      <td>Quality</td>
                      <td>Status</td>
                      <td>...</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                          <label class="form-check-label" for="flexCheckIndeterminate"></label>
                        </div>
                      </td>
                      <td>2</td>
                      <td>Spotlight</td>
                      <td>Source</td>
                      <td>Records</td>
                      <td>Data</td>
                      <td>1/8/2022</td>
                      <td>Quality</td>
                      <td>Status</td>
                      <td>...</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- table -->
      <div>
        <app-popup></app-popup>
      </div>

      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-10 mt-5"></div>
      <div class="col-2 mt-5">
       <app-cards></app-cards>
      </div>
    </div>
  </div>
</div>
